/* 
WOW! Her får du en række awesome cool effekter fra Bahls Bibliotek
*/


:root {
	--line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='2' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
	--bahlBow1: #ac62ed;
	--bahlBow2: #4e00e0;
	--bahlBow3: #38aef4;
	--bahlBow4: #4bde79;
	--bahlBow5: #ffe126;
	--bahlBow6: #ffd65f;
	--bahlBow7: #fcc209;
	--container-color: #ffffff;
	--marker-color: #333;
	--link-color: #333;
	--link-color-hover: #ff9700;
	--darkmode-button: #333;
	--darkmode-text: #FFF;
	--yellow-one: #ffe126;
	--yellow-two: #fcc209;
	--card-back: #fefff5;
}


body.bg-dark {
	--yellow-one: #181716;
	--yellow-two: #393939;
	--marker-color: #3a3232;
	--link-color: #FFF;
	--link-color-hover: #fff170;
	--container-color: #272222;
	--darkmode-button: #ffd100;
	--darkmode-text: #333;
	--card-back: #484943;
}


/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/* Overrule Bootstrap Links-farver */
a {
  color: var(--link-color);
}
.nav-link {
	color: var(--link-color);	
}
.nav-link:hover, .nav-link:focus {
	
}
small {
	font-size: 11px;
	color: grey;
}
.linkKnapper a img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { 
	/*transform: scale(1.1);*/
	
 }
 .glow-on-hover {	
	 border: none;
	 outline: none;
	 cursor: pointer;
	 position: relative;
	 z-index: 0;
	 border-radius: 10px;
	 overflow: hidden;
 }
 
 .glow-on-hover:before {
	 content: '';
	 background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	 position: absolute;
	 top: -2px;
	 left:-2px;
	 background-size:400%;
	 z-index: -1;
	 filter: blur(5px);
	 width: calc(100% + 4px);
	 height: calc(100% + 4px);
	 animation: glowing 20s linear infinite;
	 opacity: 0;
	 transition: opacity .3s ease-in-out;
	 border-radius: 10px;
 }
 
 
 .glow-on-hover:active:after {
	 background: transparent;
	 border-radius: 10px;
	  filter: blur(5px);
 }
 
 .glow-on-hover:hover:before {
	 opacity: 0.8;
	 border-radius: 10px !important;
	 filter: blur(5px) !important;
 }
 
 .glow-on-hover:after {
	 z-index: -1;
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 left: 0;
	 top: 0;
	 border-radius: 10px;
	 filter: blur(5px);
 }
 
 @keyframes glowing {
	 0% { background-position: 0 0; }
	 50% { background-position: 400% 0; }
	 100% { background-position: 0 0; }
 }

.bg-snapchat {
	background-color: #feff00;
}
.bg-twitter {
	background-color: #00cfff;
}

.card-body h1 {
	font-family: "Poppins", sans-serif;
	font-size: 17px;
}
.card-body h2 {
	font-family: "Poppins", sans-serif;
	font-size: 13px;
}

.card {
	background: var(--card-back);
	border-radius: 1rem;
	border: 1px solid var(--yellow-two);
	text-decoration: none;
	display: block;
	transform: scale(1);
	transition: all 110ms ease-in-out;
	margin-bottom: 1rem;
	position: relative;
	&:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.075);
		transform: scale(1.05);
		color: #FFF;
		background: var(--yellow-two);
	}
	.card-header {
		background: var(--color-white-2);
		border-radius: 1rem 1rem 0 0;
		padding: 30px 0;
		border-bottom: 1px solid var(--color-white-3);
		img {
			height: 94px;
			width: 94px;
			margin: 0 auto;
		}
	}
	.card-body {
		background: var(--color-white-1);
		border-radius: 0 0 1rem 1rem;
		padding: 1rem 1.5rem 2.5rem 1.5rem;
		text-align: center;
		h2 {
			font-size: 1.25rem;
			font-weight: normal;
			color: var(--color-black-2);
		}
		p {
			font-weight: 100;
			color: var(--color-white-5);
		}
	}
}

.btn-hygge {
	background-image: url('../../assets/media/hygge.png');
	background-size: 55px;
	background-repeat: no-repeat;
	background-color: #2D293D;
	color: #FFF !important;
	text-align: right !important;
}
.btn-robot {
	background-image: url('../../assets/media/robot.png');
	background-size: 50px;
	background-repeat: no-repeat;
	background-color: #ffd100;
	color: #FFF !important;
	text-align: right !important;
}


body {
	font-family: "Quicksand", sans-serif;
}
h1, h2 {
	font-family: "Caveat", sans-serif;
	font-weight: 600;
	font-size: 42px;
}
.lead {
	line-height: 1.6;
}

/* BahlBow - A pretty rainbow around the wrapper :P */
.bahlbow {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,var(--bahlBow1)),color-stop(15%,var(--bahlBow2)),color-stop(30%,var(--bahlBow3)),color-stop(50%,var(--bahlBow4)),color-stop(65%,var(--bahlBow5)),color-stop(80%,var(--bahlBow6)),color-stop(100%,var(--bahlBow7)));
}
.bahlbow-screen {
  padding: 1rem;
}
.bahlbow-white {
  min-height: calc(100vh - 2rem);
  background-color: var(--container-color);
}


/* Marker-effekt, så det ligner noget tekst er blevet markeret med en overstregningstusch*/
.marker {
color: var(--marker-color);
margin: 0 -0.4em;
padding: 0.1em 0.4em;
text-decoration: underline;
border-radius: 0.8em 0.3em;
background: transparent;
background-image: linear-gradient(
  to right,
  rgba(255, 225, 0, 0.1),
  rgba(255, 225, 0, 0.7) 4%,
  rgba(255, 225, 0, 0.3)
);
-webkit-box-decoration-break: clone;
box-decoration-break: clone;
}

body.bg-dark .marker {
background-image: linear-gradient(
	  to right,
	  rgba(255, 192, 0, 0.854),
	  rgba(255, 241, 113, 1) 4%,
	  rgba(239, 198, 0, 0.904)
	);
}


body.bg-dark .list-group-item {
	color: #f2ecbf !important;
	background-color: #0b0d0f !important;
}


/* Understreget med en flot SVG-linje, der ser nizzle ud :D */
.highlight {
  color: inherit;
  background: var(--line-yellow) bottom left/100% .3em no-repeat;
  text-decoration: none;
  padding-bottom: .3em;
}

/* Overskrift i flotte farver */
.text-gradient-primary {
	background-color: #7d8dff;
	background-image: -webkit-gradient(linear-gradient(to right, #2989ef, #a168f2, #14cdff)) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(to right), color-stop(#2989ef), color-stop(#a168f2), to(#14cdff)) !important;
	background-image: linear-gradient(to right, #2989ef, #a168f2, #14cdff) !important;
	background-size: 100%;
	-webkit-box-decoration-break: clone;
	-webkit-background-clip: text !important;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	box-decoration-break: clone;
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: repeat;
}